@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/*font-family: 'Nanum Myeongjo', serif;*/

body{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 0.75em;
}
/* ---------------------------------------- */
header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}
#gnb{
	width: 100%;
	position: relative;
}
.nav-container{
	width: 100%;
}
/* nav 전체 넓이 제어 */
.nav-width{
	width: 70%;
	margin: 0 auto;
	overflow:  hidden;
}
/* top-nav 제어 ------------------------ */
.top-nav{
	background-color: #34302f;
	height: 30px;
}
.left-nav{
	float: left;
	overflow: hidden;
}
.right-nav{
	float: right;
	overflow: hidden;
}
.left-nav > div,
.right-nav > div{
	float: left;
}
/* nav-form 속성 제어 */
.nav-form form{
	line-height: 30px;
}
.nav-form select{
	border: solid 2px #fff;
	border-radius: 12px;
	color: #fff;
	font-size: 10px;
	background-color: transparent;
	padding: 2px 6px;
}
.nav-form select option{
	color: #000;
}
/* nav-rolling 속성 제어 */
.rolling-content{
	height:30px;
	width:300px;
	position:relative;
	overflow:hidden;
	margin-left: 30px;
}
.rolling-content ul{
	width:100%;
	position:absolute;
	top:0;
}
.rolling-content ul li{
	height:30px;
}
.rolling-content ul li a{
	line-height:30px;
	display:inline-block;
	width:250px;
	color:#fff;
}
.rolling-content small{
	display:inline-block;
	width:50px;
}
.rolling-content li.hid{
	height:30px;
	position:relative;
}
.rolling-content li.hid a{
	display:inline-block;
	width:200px;
	line-height:30px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
} 
.rolling-content .date{
	display:inline-block;
	position:absolute;
	left:210px;
	line-height:30px;
	width:80px;
	padding-left:5px;
	color:#999;
}
#rolling-btn > a{
	position: absolute;
	right: 0;
	line-height: 1;
	cursor: pointer;
	color: #999;
	font-size: 10px;
}
#rolling-btn > a:hover{
	color: #fff;
}
#rolling-btn > .prev{
	top: 5px;
}
#rolling-btn > .next{
	bottom: 5px;
}
/* login-join */
.login-join{
	line-height: 30px;
	font-size: 13px;
	color: #999;
}
.login-join a{
	margin: 0 10px;
	color: #eee;
}
/* nav-sns */
.nav-sns{
	overflow: hidden;
}
.nav-sns > div{
	float: left;
	line-height: 30px;
	margin: 0 2px;
}
.nav-sns > div svg{
	fill: #fff;
	vertical-align: middle;
	cursor: pointer;
}
/* bottom-nav ---------------------- */
.bottom-nav{
	background-color: #1d1917;
	text-align: center;
	height: 40px;
	width: 100%;
}
.logo{
	float: left;
	height: 36px;
	margin-top: 2px;
}
.logo img{
	height: 100%;
}
.center-nav{
	width: 70%;
	margin: 0 auto;
}
.gnb-type{
	width: 100%;
	position: relative;
}
/* 네비 언더라인 */
.nav-underline{
	position: absolute;
	left: 0;
	top: 38px;
	width: 20%;
	transition: all .3s ease-in-out;
	display: none;
}
.gnb-type li:hover ~ .nav-underline{
	display: block;
}
.nav-underline> div{
	width: 70%;
	margin: 0 auto;
	height: 2px;
	background: #c51230;
}
.gnb-type > li:nth-child(1):hover ~ .nav-underline {
	left: 0;
}
.gnb-type > li:nth-child(2):hover ~ .nav-underline {
	left: 20%;
}
.gnb-type > li:nth-child(3):hover ~ .nav-underline {
	left: 40%;
}
.gnb-type > li:nth-child(4):hover ~ .nav-underline {
	left: 60%;
}
.gnb-type > li:nth-child(5):hover ~ .nav-underline {
	left: 80%;
}
.gnb-type > li:nth-child(1).on ~ .nav-underline {
	left: 0;
}
.gnb-type > li:nth-child(2).on ~ .nav-underline {
	left: 20%;
}
.gnb-type > li:nth-child(3).on ~ .nav-underline {
	left: 40%;
}
.gnb-type > li:nth-child(4).on ~ .nav-underline {
	left: 60%;
}
.gnb-type > li:nth-child(5).on ~ .nav-underline {
	left: 80%;
}
.gnb-type li{
	float: left;
	width: 20%;
}
.gnb-type li a{
	font-size: 14px;
	line-height: 40px;
	color: #fff;
}

/* 네비 메뉴 */
.gnb-menu-container{
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
}
.gnb-menu-content{
	width: 70%;
	margin: 0 auto;
}
.gnb-menu{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}
.gnb-menu > li{
	float: left;
	width: 20%;
	margin: 40px 0;
	height: 100px;
	padding-left: 7%;
}
.gnb-menu-list > li{
	margin-bottom: 16px;
}
.gnb-menu-list > li > a{
	color: rgb(165, 165, 165);
	transition-duration: 0.2s;
}
.gnb-menu > li:hover a{
	color: #fff;
}
.gnb-menu-list > li:hover > a{
	color: #c2a279;
}
/* hamburger 햄버거 버튼 */
.nav-ico{
	float: right;
	width: 40px;
	height: 40px;
	position: relative;
}
.hamburger{
	width: 100%;
	position: absolute;
	width: 24px;
	height: 20px;
	top: 12px;
	right: 0;
	cursor: pointer;
}
.hamburger > div{
    width: 100%;
    height: 3px;
	background: #999;
	transition: background-color 0.5s ease;
}
.hamburger:hover > div{
	background-color: #fff;
}
.line02{
    margin: 5px 0;
}
.no-ani{
    animation: none !important;
}
.hamburger .line01{
    animation: line01-ani-rev 0.7s ease-in-out
}
.hamburger .line02{
    animation: line02-ani-rev 0.7s ease-in-out
}
.hamburger .line03{
    animation: line03-ani-rev 0.7s ease-in-out
}
.hamburger.active .line01{
    animation: line01-ani 0.7s ease-in-out forwards
}
.hamburger.active .line02{
    animation: line02-ani 0.7s ease-in-out forwards
}
.hamburger.active .line03{
    animation: line03-ani 0.7s ease-in-out forwards
}
@keyframes line01-ani{
    0% {
		transform: translate3d(0, 0, 0) rotate(0deg);
 	}
    50%{
		transform: translate3d(0, 8px, 0) rotate(0);
		background-color: #fff;
    }
    100%{
        transform: translate3d(0, 8px, 0) rotate(45deg);
    }
} 
@keyframes line02-ani{
    0% {
    	transform: scale(1);
		opacity: 1;
 	}
    100%{
        transform: scale(0);
        opacity: 0;
    }
} 
@keyframes line03-ani{
    0% {
		transform: translate3d(0, 0, 0) rotate(0deg);
  	}
    50%{
		transform: translate3d(0, -8px, 0) rotate(0);
		background-color: #fff;
    }
    100%{
        transform: translate3d(0, -8px, 0) rotate(135deg);
    }
} 
@keyframes line01-ani-rev{
    0% {
    	transform: translate3d(0, 8px, 0) rotate(45deg);
  	}
    50%{
		transform: translate3d(0, 8px, 0) rotate(0);
		background-color: #fff;
    }
    100%{
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
} 
@keyframes line02-ani-rev{
    0% {
		transform: scale(0);
		opacity: 0;
  	}
    100%{
        transform: scale(1);
        opacity: 1;
    }
} 
@keyframes line03-ani-rev{
    0% {
    	transform: translate3d(0, -8px, 0) rotate(135deg);
 	}
    50%{
		transform: translate3d(0, -8px, 0) rotate(0);
		background-color: #fff;
    }
    100%{
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
} 
/* --------------- */
.header-space{
	width: 100%;
	height: 69px;
}

/* ---------------- */
.kategorie-tit{
	font-size: 50px;
	font-weight: 400;
}
.kategorie-tit span{
	font-weight: 800;
}