#join-top{
    width: 100%;
    position: relative;
    border: solid 1px transparent;
}
.join-tit{
    margin: 70px auto;
    text-align: center;
}
.join-tit > p{
    margin-top: 5px;
    font-size: 1.1em;
}
.kategorie-tit{
    text-align: center;
}
.kategorie-tit::after{
    content: "";
    display: block;
    width: 100px;
    border-bottom: solid 1px #000;
    margin: 0 auto;
    margin:  30px auto;
}
.join-tap{
    margin: 30px auto;
    overflow: hidden;
    width: 30%;
}
.join-tap img{
    width: 50%;
}
.join-tap li{
    float: left;
    width: 25%;
    position: relative;
}
.join-tap li::before{
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    background-color: #aaa;
    position: absolute;
    top: 50%;
    right: -10%;
}
.join-tap li:last-child::before{
    content: "";
    display: none;
}
.join-tap p{
    margin-top: 5px;
}
.join-tap span{
    color: #aaa;
    font-size: 800;
    margin-right: 5px;
}
/* ---join 상단 탭-- */
#join-container{
    width: 100%;
    background: -webkit-linear-gradient(top,#e5e5e5 50%,#fff 50%,#fff  100%); 
    background:linear-gradient(top,#e5e5e5 50%,#fff 50%,#fff  100%);
    border-top: solid 1px transparent;
}
.join-content{
    width: 55%;
    margin: 0 auto;
}
button{
    padding: 0;
}
button > a{
    color: #fff;
    display: block;
    width: 100%;
    border: solid 1px #fff;
}
/* authentic 본인인증*/
.authentic{
    width: 100%;
    margin: 50px auto;
    border: solid 1px #e5e5e5;
    background-color: #fff;
    padding: 4%;
}
h2.join-name{
    text-align: center;
    font-size: 1.5em;
}
.authentic-option{
    width: 80%;
    overflow: hidden;
    margin: 70px auto;
}
.authentic-option li{
    float: left;
    width: 33.333%;
    text-align: center;
    position: relative;
}
.authentic-option li::after{
    content: "";
    display: block;
    width: 1px;
    height: 50px;
    position: absolute;
    background-color: #ccc;
    top: 50%; right: 0;
    transform: translateY(-50%);
}
.authentic-option li:last-child::after{
    display: none;
}
.authentic-option img{
    width: 40%;
}
.authentic-option button{
    display: block;
    margin: 10px auto 0 auto;
    border: 0;
    width: 150px;
    line-height: 30px;
    background-color: #524a41;
    color: #fff;
    transition: 0.5s ease;
}
.authentic-option button:hover{
    background-color: #8d847a;
}
.notice{
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: 100px;
}
.notice > ul{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.6;
    color: #bbb;
}
.notice > ul > li:first-child{
    margin-top: 10px;
}
.authentic-error{
    width: 90%;
    border-top: solid 1px #ccc;
    margin: 30px auto;
    padding-top: 60px;
}
.authentic-error > li{
    margin-bottom: 40px;
}
.authentic-error > li:last-child{
    margin-bottom: 0s;
}
.authentic-error svg{
    margin-right: 5px;
}
.authentic-error b{
    font-size: 1.1em;
}
.error-txt{
    margin: 14px 0;
    color: #666;
}
.error-btn{
    background-color: #fff;
    border: solid 1px #aaa;
    color: #aaa;
    padding: 3px 10px;
}
/* 모달 버튼 */
.modal-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.modal-back{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal{
    width: 28%;
    height: 70%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    z-index: 999;
    padding: 70px 10px;
}
.modal-close{
    position: absolute;
    top: 40px; right: 40px;
    cursor: pointer;
    text-align: center;
}
.modal-close > svg{
    fill: #999;
    transition: 0.5s ease;
}
.modal-close:hover > svg{
    fill: #000;
}
.check-list{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}
.check-list > li{
    float: left;
    width: 50%;
    margin-bottom: 5px;
}
.check-list input{
    vertical-align: middle;
}
.view-txt{
   float: right;
   margin-right: 20px;
   color: #999;
}
.aut-form{
    width: 80%;
    margin: 30px auto;
}
.aut-form li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    background-color: #fff;
    overflow: hidden;
}
.aut-form li:last-child{
    margin-bottom: 0;
}
.aut-form li > div:first-child{
    float: left;
    width: 35%;
}
.aut-form li > div:last-child{
    float: right;
    width: 60%;
}
.aut-form select{
    width: 100%;
    height: 38px;
    line-height: 36px;
    padding-left: 10px;
    border: 0;
}
.label-pad{
    padding-left: 20px;
}
.aut-form input{
    width: 100%;
    height: 38px;
    line-height: 36px;
    padding-left: 10px;
}
/* 성별 선택 */
.form-half input{
    width: 15px;
    height: 15px;
    line-height: 38px;
    vertical-align: middle;
}
.form-half label{
    margin-right: 10px;
}
.form-tel input{
    width: 70%;
}
.form-tel button{
    width: 30%;
    height: 38px;
    line-height: 36px;
    vertical-align: top;
}
.modal button{
    border: 0;
    background-color: #524a41;
    color: #fff;
    transition: 0.5s ease;
}
.modal button:hover{
    background-color: #8d847a;
}
.aut-btn{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    line-height: 40px;
}
/* 셀렉 글 위치 */
/* tos 이용약관 */
.name-under{
    position: relative;
}
.name-under::after{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #aaa;
    margin: 20px auto;
}
.tos{
    width: 100%;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    margin: 50px auto;
    padding: 4%;
}
.all-check-wrap{
    text-align: center;
    margin: 20px auto;
}
.all-check-wrap input[type=checkbox]{
    display: none;
}
.all-check-wrap input[type=checkbox] + label{ 
    display: inline-block;
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/check_off.png') left/20px no-repeat; 
    font-size: 1.5em;
    font-weight: 800;
}
.all-check-wrap input[type=checkbox]:checked + label{ 
    background-image: url('../img/check.png'); 
}
span.check-txt{
    display: inline-block;
    margin: 0 10px;
}
.tos-list{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.tos-list_tit{
    font-size: 1.3em;
    line-height: 30px;
}
.tos-list_tit strong{
    font-size: 1.2em;
    color: #c51230;
    margin-right: 5px;
}
.tos-list_tit input{
    vertical-align: middle;
}
.tos-list_txt{
    margin-top: 10px;
    border: solid 1px #ccc;
    width: 100%;
    height: 150px;
    overflow: auto;
    padding: 2%;
    line-height: 1.6;
}
.tos-list_txt ul{
    margin-top: 20px;
}
.tos-list_txt ul li{
    margin-top: 10px;
}
button.tos-btn{
    display: block;
    margin: 0 auto;
    background-color: #524a41;
    color: #fff;
    border: 0;
    line-height: 30px;
    width: 150px;
    text-align: center;
    transition: 0.5s ease;
}
button.tos-btn:hover{
    background-color: #8d847a;
}
/* info 사용자 정보 입력 */
.info{
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 4% 15%;
    border: solid 1px #e5e5e5;
}
.info-txt{
    text-align: center;
    margin: 20px 0;
}
.info-content fieldset{
	border: 0;
}
.info-content .pointred{
	list-style-type: disc;
	color: #c51230;
}
.info-content ul li{
	line-height: 35px;
	margin: 15px 0;
}
.info-content .info-notice{
	color: #808080;
	margin: 10px 0;
	margin-left: 30%;
	line-height: 1.6;
}
.info-content fieldset label{
	color: #524a41;
	float: left;
	line-height: 35px;
	width: 30%;
    font-weight: 700;
}
.info-content fieldset input{
	vertical-align: middle;
	line-height: 33px;
	width: 70%;
	padding: 0 5px;
	outline: 0;
}
.info-content input#user-id02{
	width: 120px;
	margin-left: 30%;
	height: 35px;
	background: #524a41;
	border: 0;
	color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
}
.info-content #email{
	width: 30%;
	line-height: 33px;
	height: 35px;
	vertical-align: middle;
	outline: 0;
}
.info-content div.lastbut{
	width: 100%;
	text-align: center;
}
.info-content div.lastbut button{
	outline: 0;
	background: #524a41;
	border: 0;
	color: #fff;
	cursor: pointer;
	width: 30%;
	line-height: 35px;
    margin-top: 20px;
    transition: 0.5s ease;
}
input#user-id02:hover, 
div.lastbut button:hover{
    background-color: #8d847a;
}
/* complete 가입완료 */
.complete{
    width: 100%;
    border: solid 1px #e5e5e5;
    background-color: #fff;
    margin: 50px 0;
    padding: 4%;
}
.complete img{
    vertical-align: middle;
    margin-right: 10px;
}
.complete-top{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: solid 1px #e5e5e5;
    line-height: 1.5;
}
.complete-top .join-name{
    margin-top: 20px;
}
.complete-txt{
    font-weight: 800;
    font-size: 1.3em;
    margin: 10px 0;
}
.complete_date{
    color: #999;
    margin-top: 20px;
}
.complete-txt span{
    color: #c51230;
}
.complete-btn{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #524a41;
    color: #fff;
    transition: 0.5s ease;
    margin: 30px auto 0 auto;
    border: 0;
}
.complete-btn:hover{
    background-color: #8d847a;
}
.complete-bottom{
    width: 100%;
    height: 300px;
    background: url('../img/vipsmaina.jpg') no-repeat center center;
    background-size: contain;
    position: relative;
}
.complete-bottom ul{
    position: absolute;
    right: 28%;
    bottom: 30px;
    color: #999;
    line-height: 1.3;
}
