#container{
    width: 100%;
    background: -webkit-linear-gradient(top,#e5e5e5 50%,#fff 50%,#fff  100%); 
    background: -moz-linear-gradient(top,#e5e5e5 50%,#fff 50%,#fff  100%); 
    background:linear-gradient(top,#e5e5e5 50%,#fff 50%,#fff  100%); 
    border-top: solid 1px transparent;
    position: relative;
}
#login{
    width: 45%;
    margin: 150px auto;
    background-color: #fff;
    border: solid 1px #e5e5e5;
}
.login-container{
    padding: 5%;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
}
.kategorie-tit::after{
    content: "";
    display: block;
    width: 100px;
    border-bottom: solid 1px #000;
    margin: 0 auto;
    margin: 10px auto 30px auto;
}
.login-content{
    width: 50%;
    margin: 20px auto;
}
input#id,
input#pw{
    width: 100%;
    line-height: 40px;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 5px;
}
input#save{
    vertical-align: middle;
}
li.save-id{
    text-align: left;
}
.login-btn{
    display: block;
    margin-top: 20px;
    width: 100%;
    background-color: #1d1917;
    color: #fff;
    border: 0;
    line-height: 36px;
    height: 36px;
    transition: 0.5s ease;
}
.login-btn:hover{
    background-color: #8d847a;
}
.sign-up span{
    cursor: pointer;
    color: #999;
    transition: 0.2s ease;
}
.sign-up a{
    color: #999;
    transition: 0.2s ease;
}
.sign-up span:hover,
.sign-up a:hover{
    color: #000;
}