@media screen and (max-width:1500px) {
    .kategorie-tit{
        font-size: 40px;
    }
    .gnb-menu{
        width: 80%;
    }
    .nav-width{
        width: 80%;
    }
    .banner-container{
        width: 80%;
    }
    /* 메뉴 슬라이더 */
    .best-menu-container{
        width: 70%;
    }
    /* 비디오 */
    #enjoy-steak{
        margin-top: 50px;
    }
    .enjoy-left{
        padding: 0 0 5% 10%;
        height: 500px;
    }
    #event{
        padding: 8% 10% 4% 10%;
    }
    #store{
        height: 800px;
    }
    .store-container{
        width: 80%;
    }
    .benefits-container{
        width: 80%;
    }
    .news-container{
        width: 80%;  
    }
    .news-txt{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap:break-word; 
        line-height: 1.2em;
        height: 3.6em;
    }
    .follow-container{
        width: 80%;
    }
    /* 푸터 */
    .footer-top ul{
        width: 70%;
    }
    .footer-bottom{
        width: 70%;
    }
}
@media screen and (max-width:1200px){
    .kategorie-tit{
        font-size: 30px;
    }
    .gnb-menu{
        width: 90%;
    }
    .nav-width{
        width: 90%;
    }
    .nav-ico{
        display: block;
    }
    .banner-container{
        width: 90%;
    }
    /* 메뉴 슬라이더 */
    .best-menu-container{
        width: 80%;
    }
    .best-menu-prev{
        left: 2.5%;
    }
    .best-menu-next{
        right: 2.5%;
    }
    /* 비디오 */
    #enjoy-steak{
        margin-top: 50px;
    }
    .enjoy-left{
        padding: 0 0 5% 5%;
        height: 450px;
    }
    #event{
        padding: 8% 5% 4% 5%;
    }
    #store{
        height: 800px;
    }
    .store-container{
        width: 90%;
    }
    .benefits-container{
        width: 90%;
    }
    .news-container{
        width: 90%;  
    }
    .news-txt{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap:break-word; 
        line-height: 1.2em;
        height: 3.6em;
    }
    .follow-container{
        width: 90%;
    }
    /* 푸터 */
    .footer-top ul{
        width: 80%;
    }
    .footer-bottom{
        width: 80%;
    }
}
@media screen and (max-width:980px) {
    .center-nav{
        display: none;
    }
    .kategorie-tit{
        font-size: 40px;
    }
    .best-menu-right .kategorie-tit{
        margin-left: 0;
        text-align: center;
    }
    /* --- */
    .best-menu-container{
        height: 550px;
    }
    .banner-tit{
        font-size: 20px;
    }
    .best-menu-left{
        display: none;
    }
    .best-menu-content{
        overflow: hidden;
        padding: 12% 5% 5% 8%;
    }
    .best-menu-kategorie{
        position: absolute;
        top: 20px;
        left: 5%;
    }
    /* 디스플레이 블럭 요소 */
    .tablet-img{
        display: block;
        float: left;
        width: 30%;
        min-width: 190px;
    } 
    .best-menu-right{
        width: 100%;
        top: 0;
    }
    .best-menu-box{
        float: right;
        width: 55%;
        margin: 10px 0;
        font-size: 1.1em;
        line-height: 1.6;
    }
    .best-menu-box h2{
        font-size: 20px;
    }
    .best-menu-box h4{
        font-size: 15px;
    }
    .tablet-btn{
        display: block;
        width: 200px;
        line-height: 36px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 2px;
        border: solid 1px #8d847a;
        color: #8d847a;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
        transition: 0.5s ease-in-out;
    }
    .best-menu-prev{
        left: 1.5%;
    }
    .best-menu-next{
        right: 1.5%;
    }
    /* 빕스 비디오  */
    #enjoy-steak{
        margin-top: 50px;
    }
    .enjoy-left{
        float: left;
        padding: 0;
        width: 100%;
        height: 200px;
    }
    .enjoy-content{
        text-align: center;
    }
    /* --- */
    .enjoy-txt{
        margin: 20px 0;
    }
    .enjoy-txt p{
        display: none;
    }
    .go-youtube{
        margin: 10px 0;
    }
    /* --- */
    .enjoy-right{
        width: 100%;
    }
    /* 이벤트 */
    #event{
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        padding: 12% 5% 0 5%;
        position: relative;
    }
    .event-thumb{
        width: 100%;
        margin-top: 20px;
    }
    #event .kategorie-tit{
        position: absolute;
        top: 40px; left: 0;
        width: 100%;
        text-align: center;
    }
    .event-content{
        width: 100%;
        padding: 0;
    }
    .event-txt b,
    .event-txt p{
        display: none;
    }
    #event a.view-more{
        margin: 0 auto;
    }
    /* 빕스 스토어 예약 */  
    #store{
        height: 500px;
    }
    .store-left{
        float: left;
        width: 100%;
    }
    .store-content{
        float: left;
        width: 50%;
        padding: 10%;
    }
    .store-txt p{
        margin-top: 20px;
        color: #666;
    }
    .store-btn-wrap{
        position: relative;
        float: right;
        width: 45%;
        margin-top: 10%;
        margin-left: 0;
    }
    .store-btn-wrap.on{
        transition-delay: 0.3s;
    }
    .store-btn{
        float: right;
        width: 42%;
    }
    .store-right{
        display: none;
    }
    /* 빕스 메타포 아이콘 */
    .metaphor{
        width: 100%;
        margin: 0 auto;
        margin-top: 14px;
        overflow: hidden;
        text-align: center;
    }
    /* 빕스 혜택 */
    .benefits-left{
        display: none;
    }
    .benefits-right{
        width: 95%;
        margin: 0 auto;
    }
    .gift-card{
        width: 90%;
        margin: 0 auto;
    }
    /* 뉴스 타이틀 */
    .news-list h2{
        font-size: 1em;
    }
} 
@media screen and (max-width:768px) {
    .right-nav{
        display: none;
    }
    .banner-tit{
        font-size: 15px;
    }
    .banner-txt{
        font-size: 14px;
    }
    .best-menu-box h2{
        font-size: 18px;
    }
    .store-txt{
        margin-top: 30px;
    }
    #follow{
        margin-top: 0;
    }
    .follow-container{
        width: 90%;
    }
    .follow-list{
        width: 25%;
    }
    .follow-list:last-child{
        display: none;
    }
    .footer-tit{
        display: none;
    }
    .footer-left{
        width: 100%;
        text-align: center;
    }
    .footer-center{
        display: none;
    }
    .footer-right{
        display: none;
    }
}
/* 컴퓨터 마지막 사이즈 */
@media screen and (max-width:768px) and (min-width:480px) {
    .full-slide{
        display: none;
    }
    .media-slide{
        display: block;
    }
    .banner-txt{
        font-size: 100%;
    }
    .best-menu-container{
        height: 580px;
    }
    .best-menu-pagination{
        top: 100px;
        padding-right: 10%;
    }
    .best-menu-right{
        float: none;
        width: 80%;
        left: 10%;
    }
    .best-menu-content{
        margin-top: 20px;
    }
    .tablet-img{
        float: none;
        margin: 20px auto;
    }
    .best-menu-box{
        float: none;
        width: 100%;
        margin: 10px 0;
        font-size: 1.1em;
        line-height: 1.6;
        text-align: center;
    }
    .best-menu-box h2,
    .best-menu-box h4{
        margin: 0;
    }
    .menu-price{
        margin-top: 10px;
    }
    .menu-txt{
        display: none;
    }
    /* 빕스 이벤트 섹션 */
    .full-event{
        display: none;
    }
    .media-event{
        display: block;
    }
    .event-thumb{
        margin-top: 70px;
    }
    .event-thumb > li{
        width: 100%;
        margin: 10px 0;
    } 
    /* 빕스 스토어 */
     #store{
        height: 700px;
    }
    .store-left{
        float: left;
        width: 100%;
    }
    .store-content{
        float: left;
        width: 100%;
    }
    .store-btn-wrap{
        width: 100%;
    }
    /* 빕스 메타포 아이콘 */
    .metaphor{
        width: 80%;
    }
    .metaphor img{
        min-width: 100px;
    }
    .metaphor-ico01,
    .metaphor-ico02,
    .metaphor-ico03{
        width: 50%;
        margin-top: 30px;
    }
    .metaphor-ico03{
        display: none;
    }
    /* 빕스 혜택 */
    .benefits-list{
        float: left;
        width: 50%;
    }
    .benefits-container{
        overflow: hidden;
    }
    .gift-card::before{
        display: none;
    }
    .gift-card{
        width: 200%;
    }
    /* 뉴스 컨텐츠 */
    .news-list{
        width: 100%;
        height: 220px;
        padding: 30px;
        margin-top: 10px;
    }
    /* 팔로우 컨텐츠 */
    .follow-list{
        width: 50%;
    }
    .footer-top ul li{
        width: 25%;
    }
    .footer-top ul li:last-child{
        display: none;
    }
}
/* 모바일 사이즈 */
@media screen and (max-width:480px) {
    .right-nav{
        display: none;
    }
    .nav-form{
        display: none;
    }
    .rolling-content{
        margin-left: 0px;
    }
    /* 슬라이드 제어 */
    .full-slide{
        display: none;
    }
    .media-slide{
        display: block;
    }
    .banner-txt{
        font-size: 100%;
    }
    .banner-tit h2,
    .banner-tit h3{
        font-size: 100%;
    }
    .to-go-page{
        margin: 5px 0;
    }
    .banner-txt span{
        display: none;
    }
    .best-menu-container{
        height: 580px;
    }
    .best-menu-pagination{
        top: 80px;
        padding-right: 10%;
    }
    .best-menu-prev,
    .best-menu-next{
        display: none;
    }
    .best-menu-right{
        float: none;
        width: 80%;
        left: 10%;
    }
    .best-menu-content{
        margin-top: 20px;
    }
    .tablet-img{
        float: none;
        margin: 20px auto;
    }
    .best-menu-box{
        float: none;
        width: 100%;
        margin: 10px 0;
        font-size: 1.1em;
        line-height: 1.6;
        text-align: center;
    }
    .best-menu-box h2,
    .best-menu-box h4{
        margin: 0;
    }
    .menu-price{
        margin-top: 10px;
    }
    .menu-txt{
        display: none;
    }
    /* 빕스 이벤트 섹션 */
    .full-event{
        display: none;
    }
    .media-event{
        display: block;
    }
    .event-thumb{
        margin-top: 70px;
    }
    .event-thumb > li{
        width: 100%;
        margin: 10px 0;
    } 
    /* 빕스 스토어 */
     #store{
        height: 700px;
    }
    .store-left{
        float: left;
        width: 100%;
    }
    .store-content{
        float: left;
        width: 100%;
    }
    .store-btn-wrap{
        width: 100%;
    }
    /* 빕스 메타포 아이콘 */
    .brand-txt{
        font-size: 100%;
    }
    .metaphor{
        width: 80%;
    }
    .metaphor img{
        min-width: 100px;
    }
    .metaphor-ico01,
    .metaphor-ico02,
    .metaphor-ico03{
        width: 50%;
        margin-top: 30px;
    }
    .metaphor-ico03{
        display: none;
    }
    /* 빕스 혜택 */
    .benefits-list{
        float: left;
        width: 50%;
    }
    .benefits-container{
        overflow: hidden;
    }
    .gift-card::before{
        display: none;
    }
    .gift-card{
        width: 200%;
    }
    /* 뉴스 컨텐츠 */
    .news-list{
        width: 100%;
        height: 220px;
        padding: 30px;
        margin-top: 10px;
    }
    /* 팔로우 컨텐츠 */
    .follow-list{
        width: 50%;
    }
    .footer-top ul li{
        width: 33.333%;
    }
    .footer-top ul li:first-child,
    .footer-top ul li:last-child{
        display: none;
    }
}
@media screen and (max-width:320px) {
    .kategorie-tit{
        font-size: 20px;
    }
    .best-menu-pagination{
        top: 60px;
    }
    .tablet-img{
        float: none;
        width: 120px;
    } 
    .best-menu-content{
        padding: 15% 0;
    }
    .menu-price{
        display: none;
    }
    .best-menu-container{
        height: 500px;
    }
    .best-menu-box h2,
    .best-menu-box h4{
        font-size: 12px;
    }
    .best-menu-prev,
    .best-menu-next{
        display: none;
    }
    /* 비디오 */
    .enjoy-left{
        height: 150px;
    }
    /* 백그라운드 이미지 메타포 */
    .brand-txt p:last-child{
        display: none;
    }
    /* 혜택 */
    /* 오른쪽 텍스트 박스 */
    /* 오른쪽 텍스트 분할 제어 */
    .benefits-right{
        width: 95%;
        margin: 0 auto;
    }
    .benefits-list{
        float: left;
        width: 50%;
        margin: 5px 0;
        padding: 10px;
    }
    .benefits-list:nth-child(2n){
        margin-right: 0;
    }
    .benefits-list .list-num-color{
        color: #c2a279;
        font-size: 1.2em;
        font-weight: 800;
    }
    .benefits-list > h4{
        margin-top: 10px;
        font-size: 1.5em;
    }
    .benefits-list > p{
        margin-top: 10px;
        line-height: 1.6;
    }
    .news-container{
        margin: 20px auto;
    }
    
}