.snb-nav{
	width: 24%;
}
.snb-nav > li{
	width: 50%;
}
.notice{
    margin-top: 50px;
}
/* ---- */
#membership{
	position: relative;
}
#store{
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: solid 1px transparent;
}
div#vipsmania{
	width:57.5%;
	margin:0 auto;
	padding-top:50px;
}
/*멤버십 혜택 시작*/
div.mani01{
	width:100%;
	margin-top:30px;
}
div.mani01> h1{
	font-size:3em;
}
div.mani01> h3{
	margin-top:20px;
}
div.mani01> ul{
	margin-top:15px;
	overflow:hidden;
}
div.mani01> ul li{
	float:left;
	list-style:disc;
	list-style-position:inside;
	line-height:1.4;
	margin-right:20px;
}
div.mani01> ul li> span{
	color:#c2a279;
	font-weight:700;
	display:inline-block;
	margin-right:15px;
}
/*하위 설명*/
div.mani01_1{
	width:100%;
	margin:0 auto;
	margin-top:10px;
	overflow:hidden;
	border-top:solid 3px #e5e5e5;
	border-bottom:solid 3px #e5e5e5;
	padding:2%;
}
div.mani01_1 div{
	float:left;
	width:50%;
	overflow:hidden;
	padding:0 3%;
}
div.mani01_1 div> p{
	width:100%;
	font-size:1.1em;
}
div.mani01_1 div> p> span{
	font-size:2em;
	color:#c2a279;
	font-weight:700;
	margin-right:20px; 
}
div.mani01_1> div> div{
	width:100%;
	overflow:hidden;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:10px;
}
div.mani01_1 div p.tat{
	float:left;
	width:25%;
}
div.mani01_1 div p.tat img{
	width:100%;
}
div.mani01_1 div ul{
	float:left;
	width:75%;
	padding-left:20px;
}
div.mani01_1 div ul li{
	font-size:0.9em;
	list-style:disc;
	list-style-position:inside;
	line-height:1.5;
}
/*혜택 3단계*/
div.mani01_1 div.wenday{
	overflow:hidden;
	width:100%;
	padding:0;
	margin-top:10px;
}
div.mani01_1 div.wenday> div{
	float:left;
	width:33.333%;
	display:block;
	border-right:dashed 2px #e5e5e5;
	height:130px;
	text-align:center;
	line-height:1.4;
}
div.mani01_1 div.wenday> div:last-child{
	border:0;
}
div.mani01_1 div.wenday> div> p{
	margin:0 auto;
	margin-top:20px;
	margin-bottom:10px;
	width:150px;
	background:#a8a4a0;
	border-radius:10px;
	text-align:center;
	color:#fff;
	padding:3px 0;
}
/*버튼*/
p.mabtn{
	width:100%;
	text-align:center;
}
p.mabtn> button{
	background:#524a41;
	border:0;
	color:#fff;
	cursor:pointer;
	padding:5px 20px;
	margin-top:15px;
	transition-duration:0.8s;
}
p.mabtn> button:hover{
	background:#c2a279;
	transition-duration:0.8s;
}

/*카드 발급 방법*********************/
div.mani03{
	width:100%;
	margin-top:70px;
}
div.mani03 ul li{
	list-style-type:disc;
	list-style-position:inside;
	color:#c2a279;
	margin-top:15px;
	font-weight:700;
}
/*까만 카드*/
div.mani03_1> p:first-child{
	width:40%;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:left;
	font-size:2em;
	font-weight:800;
	margin-top:30px;
}
div.mani03_1> p:last-child{
	margin-top:15px;
	line-height:1.4;
	font-size:1.1em;
}
div.mani03_1> p:last-child span{
	color:#c51230;
}

/*하위 카드 완성 스텝*****/
div.mani03_2{
	width:100%;
	border:solid 1px #e5e5e5;
	margin-top:20px;
}
div.mani03_2> div.maniacard{
	width:100%;
	overflow:hidden;
	margin-top:30px;
}
div.mani03_2> div.maniacard h3{
	margin-bottom:10px;
}
/* 보유 회원 */
.maniacard{
	overflow: hidden;
	padding: 0 3%;
}
.ma_ca,
.ma_ca2{
	float: left;
	padding-left: 5%;
}
.ma_ca{
	width: 40%;
}
.ma_ca2{
	width: 60%;
	border-left: dashed 2px #e5e5e5;
}
.card-flow{
	overflow: hidden;
	text-align: center;
}
.card-flow img{
	border: solid 1px #ddd;
}
.card-flow > p{
	float: left;
	position: relative;
	margin-right: 10%;
	line-height: 1.2;
}
.ma_ca p{
	margin-right: 15%;
}
.card-flow > p:not(.last-card)::after{
	content: ">";
	display: block;
	position: absolute;
	color: #aaa;
	font-size: 20px;
	top: 30px;
	right: -30px;
}
.maniacard2{
	background-color: #a8a4a0;
	color: #fff;
	text-align: center;
	padding: 2%;
	line-height: 1.6;
	margin-top: 30px;
}
.maniacard2 button{
	display: block;
	border: solid 1px #fff;
	margin: 15px auto 0 auto;
	background-color: transparent;
	color: #fff;
}
/* 미보유 회원 */
/*이용 약관*/
div.conditions{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#a8a4a0;
	line-height:1.4;
	margin:50px 0;
}
div.conditions ul li:first-child{
	margin-top:20px;
}
div.conditions ul li{
	margin-bottom:5px;
}

/* cj one 씨제이 원 */
#cjone{
	width: 100%;
	background: url("../img/cjone.png") no-repeat left top;
	background-color: #f0eff5;
	background-size: cover;
	border: solid 1px transparent;
}
.point{
	text-align: center;
	margin-top: 100px;
}
.point h3{
	font-size: 3em;
}
.point h3::after{
	content: "";
	display: block;
	width: 100px;
	height: 1px;
	background-color: #666;
	margin: 30px auto;
}
.point-tit{
	font-size: 2em;
	font-weight: 700;
}
.point-sub-tit{
	font-size: 1.5em;
	margin: 10px 0;
}
.point-content{
	width: 54%;
	margin: 0 auto;
	line-height: 1.5;
}
.point-content button{
	display: block;
	margin: 30px auto 0 auto;
	border: 0;
	background: #999;
	color: #fff;
	padding: 5px 10px;
	transition: 0.5s ease;
}
.point-content button:hover{
	background-color: #666;
}
.point-top li{
	background-color: #fff;
	box-shadow: 6px 6px 6px #ccc;
	float: left;
	width: 29%;
	margin-right: 3%;
	padding: 5% 2%;
}
.point-top li.center-box{
	width: 36%;
	margin-top: 20px;
}
.point-top li:last-child{
	margin-right: 0;
}
.point-top::after{
	content: "";
	display: block;
	clear: both;
}
.box-tit{
	color: #c51230;
	font-size: 1.7em;
	font-weight: 700;
}
.box-name{
	font-size: 1.5em;
	font-weight: 600;
}
.point-top .box-name{
	margin-bottom: 10px;
}
/* ---- */
.point-bottom{
	margin: 50px auto;
	width: 80%;
}
.point-bottom::after{
	content: "";
	display: block;
	clear: both;
}
.point-bottom li{
	background-color: #fff;
	box-shadow: 6px 6px 6px #ccc;
	float: left;
	width: 40%;
	margin-right: 4%;
	padding: 5% 2%;
}
.point-bottom li:last-child{
	width: 56%;
	margin-right: 0;
}
.point-bottom .box-tit{
	margin-bottom: 10px;
}

/* 혜택 이미지 */
.benefits{
	margin: 120px 0;
}
.bene-content{
	width: 60%;
	margin: 50px auto;
	overflow: hidden;
}
.bene-content li{
	float: left;
	width: 25%;
}
.bene-content li p{
	padding-left: 20px;
	margin-top: 20px;
	line-height: 1.3;
	font-size: 14px;
}
.bene-content li:nth-child(2n){
	margin-top: 20px;
}
.bene-content li img{
	width: 100%;
}
.bene-content li span{
	display: block;
	cursor: pointer;
	margin-top: 5px;
	color: #999;
	transition: 0.5s ease;
}
.bene-content li span:hover{
	color: #000;
}
.point-tit,
.point-sub-tit{
	text-align: center;
}
/* 브랜드 로고 전체 */
.total-brand{
	margin: 100px 0;
	text-align: center;
}
.total-brand .point-tit{
	margin-bottom: 20px;
}
/* 윈스터 설명 */
.winster{
	width: 100%;
	background: url("../img/winstrer3.png") no-repeat center;
	background-size: cover;
	padding: 2% 0;
}
.winster-content{
	width: 60%;
	margin: 50px auto;
}
.winster-story{
	width: 100%;
	overflow: hidden;
}
.w-story-txt{
	float: left;
	width: 40%;
	line-height: 1.5;
}
.w-story-txt b{
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #999;
}
.w-story-txt img{
	display: block;
	margin: 30px 0;
}
.w-story-txt p {
	margin-bottom: 14px;
	font-size: 14px;
}
.winstrer{
	float: right;
	display: block;
	width: 60%;
}
.winster-info{
	margin-top: 100px;
	overflow: hidden;
}
.winster-info img{
	display: block;
	float: left;
	width: 25%;
	margin-right: 6%;
}
.winster-info div{
	float: left;
	width: 25%;
	border-top: solid 1px #999;
	padding: 2%;
	margin: 70px 4% 0 0;
	font-size: 20px;
	line-height: 1.4;
}
.winster-info div h3{
	margin-top: 30px;
}
.winster-info ul{
	float: right;
	width: 40%;
	margin-top: 30px;
	line-height: 25px;
}
.winster-info ul span{
	display: inline-block;
	width: 100px;
	font-weight: 700;
}