#wrap{
	width: 100%;
}
/* -------------------- */
#main-slide{
	position: relative;
}
#main-slide img{
	width: 100%;
	vertical-align: middle;
}
#main-slide .swiper-pagination {
	position: absolute;
	bottom: 5% !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	margin: 0;
	width: 20% !important;
}
#main-slide .swiper-pagination-bullet {
	border-radius: 0;
	width: 20%;
	height: 3px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: rgba(150, 150, 150, 0.5);
	margin: 0 !important;
}
#main-slide .swiper-pagination-bullet:hover{
	background: #fff;
	transition-duration: 0.5s;
}
#main-slide .swiper-pagination-bullet-active {
	color:#fff;
	background: #fff;
}
#main-slide .slide-button-next svg,
#main-slide .slide-button-prev svg{
	fill: #fff;
}
#main-slide .slide-button-next,
#main-slide .slide-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	text-align: center;
}
#main-slide .slide-button-next:hover,
#main-slide .slide-button-prev:hover{
	background-color: rgba(150, 150, 150, 0.5);
	transition-duration: 0.5s;
}
#main-slide .slide-button-prev{
	left: 5%;
}
#main-slide .slide-button-next{
	right: 5%;
}

/* banner 투고 메뉴 배너 */
#banner{
	background: url('../img/bannerbg.jpg') no-repeat center;
	padding: 10px 0;
}
.banner-container{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
}
/* --- */
.banner-tit{
	float: left;
	width: 26%;
	font-size: 200%;
}
.banner-tit h2{
	color: #fff;
}
.banner-tit h3{
	color: #c2a279;
	margin-top: 10px;
}
/* --- */
.banner-txt{
	float: left;
	width: 44%;
	color: #fff;
	line-height: 1.6;
	font-size: 1.2em;
}
.to-go-page{
	display: block;
	margin-top: 20px;
	color: #999;
	transition: 0.5s;
}
.to-go-page:hover{
	color: #fff;
}
.to-go-page > span{
	margin-left: 20px;
	display: inline-block;
	animation: fff-arrow 1s ease infinite alternate;
	-webkit-animation: fff-arrow 1s ease infinite alternate;
	-moz-animation: fff-arrow 1s ease infinite alternate;
	-o-animation: fff-arrow 1s ease infinite alternate;
}
@keyframes fff-arrow{
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(-7px);
	}
}
/* --- */
.banner-thumb{
	float: right;
	margin-left: 4%;
	width: 26%;
}
.banner-thumb img{
	width: 100%;
	vertical-align: middle;
}
/* best menu 베스트 메뉴 */
#best-menu{
	width:100%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3f4f6+60,000000+100&1+0,1+59,0+61 */
	background: -moz-linear-gradient(left,  rgba(243,244,246,1) 0%, rgba(243,244,246,1) 60%, rgba(243,244,246,0) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(243,244,246,1) 0%,rgba(243,244,246,1) 60%,rgba(243,244,246,0) 60%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(243,244,246,1) 0%,rgba(243,244,246,1) 60%,rgba(243,244,246,0) 60%, rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f6', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	position: relative;
	border: solid 1px transparent;
}
/* best-menu컨텐츠 */
/* 베스트메뉴 높이값 */
.best-menu-container{
	width: 58%;
	height: 600px;
	margin: 60px auto;
	position: relative;
}
.best-menu-container > ul{
	position: absolute;
}
/* --- */
.best-menu-left{
	top: 5%;
	left: 0;
	width: 36%;
	z-index: 2;
}
.best-menu-img-list{
	width: 100%;
	height: 100%;
	position: relative;
}
.best-menu-img{
	position: absolute;
	top: 0;
	left: 0;
}
.best-menu-img.on{
	z-index: 999;
}
.best-menu-img img{
	width: 100%;
}
.view-more{
	display: block;
	margin: 0 auto;
	margin-top: 136%;
	width: 200px;
	line-height: 36px;
	border: solid 1px #524a41;
	color: #524a41;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	transition: 0.5s ease-in-out;
}
.view-more:hover{
	color: #fff;
	background-color: #524a41;
}
/* --- */
.best-menu-right{
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 68%;
	overflow: hidden;
}
.best-menu-pagination{
	position: absolute;
	z-index: 999;
	top: 130px;
	padding-right: 10%;
	left: 0;
	text-align: right;
}
.best-menu-pagination span{
	width: 10px;
	height: 10px;
	margin: 0 2px;
	background-color: rgba(255, 255, 255, 0.6);
}
.best-menu-pagination .swiper-pagination-bullet-active{
	background-color: #fff;
}
.best-menu-right .kategorie-tit{
	margin-left: 20%;
}
.best-menu-content{
	width: 100%;
	background-color: #2c2c33;
	padding: 10% 0  10% 20%;
	margin-top: 50px;
	color: #fff;
}
.best-menu-kategorie{
	display: inline-block;
	width: 120px;
	padding-bottom: 10px;
	border-bottom: solid 1px #fff;
}
.best-menu-box{
	margin: 50px 0 0 20px;
	font-size: 1.2em;
}
.best-menu-box h2{
	font-size: 30px;
}
.best-menu-box h4{
	font-size: 20px;
	margin-top: 14px;
}
.menu-txt{
	line-height: 1.8;
	margin-top: 30px;
}
.menu-price{
	margin-top: 30px;
	color: #aaa;
}
.best-menu-prev,
.best-menu-next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	width: 100px;
	height: 50px;
	font-size: 50px;
	cursor: pointer;
	font-size: 800;
	transition: 0.5s ease;
	color: #999;
	text-align: center;
}
.best-menu-prev:hover,
.best-menu-next:hover{
	color: #332c2c;
}
.best-menu-prev{
	left: 5%;
}
.best-menu-next{
	right: 5%;
}
/* ------------------------- */
#enjoy-steak{
	width: 100%;
	margin-top: 50px;
}
.enjoy-left{
	float: left;
	padding: 0 0 5% 15%;
	width: 46%;
	display: table;
	height: 600px;
}
/* --- */
.enjoy-content{
	display: table-cell;
	vertical-align: middle;
}
.enjoy-txt{
	margin: 40px 20px;
	font-size: 1.2em;
	line-height: 1.6;
}
.enjoy-txt b{
	font-size: 1.1em;
}
.enjoy-txt p{
	margin-top: 20px;
}
.go-youtube{
	margin: 30px 0;
}
.go-youtube svg{
	vertical-align: middle;
	margin-right: 4px;
}
.go-youtube a{
	font-size: 1.2em;
	font-weight: 700;
	transition: 0.5s ease;
}
.go-youtube a:hover{
	color: rgba(183,0,0,1);
}
/* --- */
.enjoy-right{
	float: left;
	width: 54%;
}
.enjoy-right video{
	width: 100%;
}
#enjoy-steak::after{
	content: "";
	display: block;
	clear: both;
}
/* --------------- */
#event{
	width: 100%;
	margin-top: -100px;
	background-color: #2b2424;
	padding: 8% 15% 3% 15%;
}
.event-thumb{
	float: left;
	width: 60%;
	overflow: hidden;
}
.event-thumb > li{
	float: left;
	width: 32%;
	margin-right: 2%;
}
.event-thumb > li:last-child{
	margin: 0;
}
.event-thumb > li img{
	width: 100%;
}
.event-content{
	float: left;
}
#event::after{
	content: "";
	display: block;
	clear: both;
}

#event a.view-more{
	display: block;
	margin: 0;
	width: 200px;
	line-height: 36px;
	border: solid 1px #524a41;
	color: #524a41;
	text-align: center;
	font-size: 12px;
}
.view-more:hover{
	color: #fff;
	background-color: #524a41;
}