#wrap{
	width: 100%;
}
/* ---------------------------------------- */
header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}
#gnb{
	width: 100%;
	position: relative;
}
.nav-container{
	width: 100%;
}
/* nav 전체 넓이 제어 */
.nav-width{
	width: 70%;
	margin: 0 auto;
	overflow:  hidden;
}
/* top-nav 제어 ------------------------ */
.top-nav{
	background-color: #34302f;
	height: 30px;
}
.left-nav{
	float: left;
	overflow: hidden;
}
.right-nav{
	float: right;
	overflow: hidden;
}
.left-nav > div,
.right-nav > div{
	float: left;
}
/* nav-form 속성 제어 */
.nav-form form{
	line-height: 30px;
}
.nav-form select{
	border: solid 2px #fff;
	border-radius: 12px;
	color: #fff;
	font-size: 10px;
	background-color: transparent;
	padding: 2px 6px;
}
.nav-form select option{
	color: #000;
}
/* nav-rolling 속성 제어 */
.rolling-content{
	height:30px;
	width:300px;
	position:relative;
	overflow:hidden;
	margin-left: 30px;
}
.rolling-content ul{
	width:100%;
	position:absolute;
	top:0;
}
.rolling-content ul li{
	height:30px;
}
.rolling-content ul li a{
	line-height:30px;
	display:inline-block;
	width:250px;
	color:#fff;
}
.rolling-content small{
	display:inline-block;
	width:50px;
}
.rolling-content li.hid{
	height:30px;
	position:relative;
}
.rolling-content li.hid a{
	display:inline-block;
	width:200px;
	line-height:30px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
} 
.rolling-content .date{
	display:inline-block;
	position:absolute;
	left:210px;
	line-height:30px;
	width:80px;
	padding-left:5px;
	color:#999;
}
#rolling-btn > a{
	position: absolute;
	right: 0;
	line-height: 1;
	cursor: pointer;
	color: #999;
	font-size: 10px;
}
#rolling-btn > a:hover{
	color: #fff;
}
#rolling-btn > .prev{
	top: 5px;
}
#rolling-btn > .next{
	bottom: 5px;
}
/* login-join */
.login-join{
	line-height: 30px;
	font-size: 13px;
	color: #999;
}
.login-join a{
	margin: 0 10px;
	color: #eee;
}
/* nav-sns */
.nav-sns{
	overflow: hidden;
}
.nav-sns > div{
	float: left;
	line-height: 30px;
	margin: 0 2px;
}
.nav-sns > div svg{
	fill: #fff;
	vertical-align: middle;
	cursor: pointer;
}
/* bottom-nav ---------------------- */
.bottom-nav{
	background-color: #1d1917;
	text-align: center;
	height: 40px;
}
.logo{
	float: left;
	height: 36px;
	margin-top: 2px;
}
.logo img{
	height: 100%;
}
.center-nav{
	display: inline-block;
	width: 70%;
}
.gnb-type{
	width: 100%;
	position: relative;
}
/* 네비 언더라인 */
.nav-underline{
	position: absolute;
	left: 0;
	top: 38px;
	width: 20%;
	transition: all .3s ease-in-out;
	display: none;
}
.gnb-type li:hover ~ .nav-underline{
	display: block;
}
.nav-underline> div{
	width: 70%;
	margin: 0 auto;
	height: 2px;
	background: #c51230;
}
.gnb-type > li:nth-child(1):hover ~ .nav-underline {
	left: 0;
}
.gnb-type > li:nth-child(2):hover ~ .nav-underline {
	left: 20%;
}
.gnb-type > li:nth-child(3):hover ~ .nav-underline {
	left: 40%;
}
.gnb-type > li:nth-child(4):hover ~ .nav-underline {
	left: 60%;
}
.gnb-type > li:nth-child(5):hover ~ .nav-underline {
	left: 80%;
}
.gnb-type > li:nth-child(1).on ~ .nav-underline {
	left: 0;
}
.gnb-type > li:nth-child(2).on ~ .nav-underline {
	left: 20%;
}
.gnb-type > li:nth-child(3).on ~ .nav-underline {
	left: 40%;
}
.gnb-type > li:nth-child(4).on ~ .nav-underline {
	left: 60%;
}
.gnb-type > li:nth-child(5).on ~ .nav-underline {
	left: 80%;
}
.gnb-type li{
	float: left;
	width: 20%;
}
.gnb-type li a{
	font-size: 14px;
	line-height: 40px;
	color: #fff;
}
.search{
	float: right;
	fill: #fff;
	margin-top: 4px;
	cursor: pointer;
}
/* 네비 메뉴 */
.gnb-menu-container{
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.86);
	display: none;
}
.gnb-menu{
	width: 52%;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 2.6%;
}
.gnb-menu > li{
	float: left;
	width: 20%;
	height: 170px;
	padding: 30px 0;
}
.gnb-menu-list > li{
	margin-bottom: 16px;
}
.gnb-menu-list > li > a{
	color: rgb(165, 165, 165);
	transition-duration: 0.2s;
}
.gnb-menu > li:hover a{
	color: #fff;
}
.gnb-menu-list > li:hover > a{
	color: #c2a279;
}
/* -------------------- */
.header-space{
	width: 100%;
	height: 70px;
}
/* -------------------- */
#main-slide{
	position: relative;
}
#main-slide img{
	width: 100%;
	vertical-align: bottom;
}
.swiper-pagination {
	position: absolute;
	bottom: 5% !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	margin: 0;
	width: 20% !important;
}
.swiper-pagination-bullet {
	border-radius: 0;
	width: 20%;
	height: 3px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: rgba(150, 150, 150, 0.5);
	margin: 0 !important;
}
.swiper-pagination-bullet:hover{
	background: #fff;
	transition-duration: 0.5s;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #fff;
}
.slide-button-next svg,
.slide-button-prev svg{
	fill: #fff;
}
.slide-button-next,
.slide-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	text-align: center;
}
.slide-button-next:hover,
.slide-button-prev:hover{
	background-color: rgba(150, 150, 150, 0.5);
	transition-duration: 0.5s;
} 
.slide-button-next{
	right: 5%;
}
.slide-button-prev{
	left: 5%;
}
/* banner 투고 메뉴 배너 */
#banner{
	background: url('../img/bannerbg.jpg') no-repeat center;
	padding: 10px 0;
}
.banner-container{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
}
/* --- */
.banner-tit{
	float: left;
	width: 26%;
	font-size: 200%;
}
.banner-tit h2{
	color: #fff;
}
.banner-tit h3{
	color: #c2a279;
	margin-top: 10px;
}
/* --- */
.banner-txt{
	float: left;
	width: 44%;
	color: #fff;
	line-height: 1.6;
	font-size: 1.2em;
}
.to-go-page{
	display: block;
	margin-top: 20px;
	color: #999;
	transition: 0.5s;
}
.to-go-page:hover{
	color: #fff;
}
.to-go-page > span{
	margin-left: 20px;
	display: inline-block;
	animation: fff-arrow 1s ease;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}
@keyframes fff-arrow{
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(-7px);
	}
}
/* --- */
.banner-thumb{
	float: right;
	margin-left: 4%;
	width: 26%;
}
.banner-thumb img{
	width: 100%;
	vertical-align: middle;
}